<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dropdowns 2: Multiple levels</title>
	
</head>

<body>

	<div id="heading" style="padding-left: 20px;"><b><h1><u>Dashboard</u></h1></b></div>
<div id="container">
	<div id="info" class="info">The colour indicates the behaviour of a service in a particular Environment.<br/><b style="color:green;">Green: </b>Indicates service is running properly<br/><b style="color:red;">Red: </b>Indicates service is down</div>
	
	<div id="env" style="padding-left: 40px; width:auto;"><h3><b>></b> List of Environment</h3>
  		
			<%=@html_data.html_safe%>
		</div>
</div>

	<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body> </html>
