<!DOCTYPE html>
<html>
  <head>
    <title>OpenNMS Dashboard</title>
<meta http-equiv="refresh" content="300" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
#heading {
	height: 50px;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(green, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(green, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(green, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(green, white);
	/* Standard syntax (must be last) */
}

#env {
	width: 25%;
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
}

button[colour="true"] {
	font-family: Georgia;
	background-color: #FF1919;
	max-width: 280px;
	height: auto;
}

button[colour="trueamber"] {
	font-family: Georgia;
	background-color: #FF1919;
	max-width: 280px;
	height: auto;
}

button[colour="falseamber"] {
	font-family: Georgia;
	background-color: #FF9400;
	max-width: 280px;
	height: auto;
}

button[colour="truered"] {
	font-family: Georgia;
	background-color: #FF1919;
	max-width: 280px;
	height: auto;
}

button[colour="falsered"] {
	font-family: Georgia;
	background-color: #FF1919;
	max-width: 280px;
	height: auto;
}

button[colour="truegreen"] {
	font-family: Georgia;
	background-color: #FF1919;
	max-width: 280px;
	height: auto;
}

button[colour="falsegreen"] {
	font-family: Georgia;
	background-color: #198C19;
	max-width: 280px;
	height: auto;
}

button[colour="false"] {
	font-family: Georgia;
	background-color: #198C19;
	max-width: 280px;
	height: auto;
}

h1 {
	text-decoration: bold;
}

#info {
	width: 50%;
	height: 20px;
	display: inline-block;
	float: right;
	clear: both;
	text-align: left;
}

#servicedata {
	background: #CACACA;
	max-width: 280px;
	height: auto;
}

#cont {
	display: none;
}

.show:focus+.hide {
	display: inline;
}

.show:focus+.hide+#cont {
	display: block;
}

button {
	background-color: gray;
}
</style>
<script>
function showLogin() {
	document.getElementById("error").style.display='inline';
}
</script>
</head>

  <body>
    <%= yield %>
  </body>
</html>
